# Explorative Data Analysis on IMDB Movie Data

## Scenario:

You're given a task as a Data Analyst to scrape data for the top 250 movies from the IMDb website and perform an Explorative Data Analysis (EDA) on the scraped data in order to answer some business questions. Some of the questions your analysis shoud answer include:

* What is total number of years that movies were released?

* What is the maximum number of movies released?

* In what year was the maximum number of movies released?

* What are the minimum and maximum rating values?

* Among the top 250 movies, which move is with the highest rating, the rank, duration and the year of release?

## Approach:

I approached the task-at-hand by:

* Scraping the required data using ```requests``` and ```BeautifulSoup``` packages

* Saved the scraped data into an excel file

* Imported the scraped data to perform some wrangling and EDA

* Summarised the findings to answer the business questions

### 1. Importing libraries/modules/packages

In [1]:
# import packages
import numpy as np
import pandas as pd
import requests
import re
from bs4 import BeautifulSoup
import openpyxl
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

### 2. Scraping the data and saving it as an excel file

In [2]:
# data scrapping
try:
    headers = {
        'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/117.0.0.0 Safari/537.36'
    } # to get the headers with the user agent
    source = requests.get('https://www.imdb.com/chart/top/', headers=headers) # url source
    source.raise_for_status() # To ascertain the url is active
    html_pattern = r'<[^>]+>' # Use regEx to grab each movie tile by class name and then strip its content down

    soup = BeautifulSoup(source.content, 'html.parser') # Parse the html content with BeautifulSoup
    movies = soup.find_all('li', {'class':'ipc-metadata-list-summary-item sc-59b6048d-0 jemTre cli-parent'}) # Get the data on the page with find_all () function

    # Creating an Excel workbook where the data will be saved
    excel = openpyxl.Workbook()
    sheet = excel.active 
    sheet.title = 'Top Rated Movies'
    sheet.append(['Rank', 'Title', 'Year', 'Duration', 'Rating'])

    for movie in movies:
        children = ''.join([str(item) for item in movie.children]) # list comprehension
        text_only = [item for item in re.sub(html_pattern, ', ', children).split(', ') if item != ''] # list comprehension
        title = ' '.join(text_only[0].split(' ')[1:])
        rank =  text_only[0].split(' ')[0][:-1]
        year = text_only[1]
        duration = text_only[2]
        rating = text_only[4]
        sheet.append([rank, title, year, duration, rating])

        print(f"Rank: {rank}, Title: {title}, Year: {year}, Duration: {duration}, Rating: {rating}")

    excel.save('IMDB Movie Ratings.xlsx')

except Exception as e:
    print(e)

Rank: 1, Title: The Shawshank Redemption, Year: 1994, Duration: 2h 22m, Rating: 9.3
Rank: 2, Title: The Godfather, Year: 1972, Duration: 2h 55m, Rating: 9.2
Rank: 3, Title: The Dark Knight, Year: 2008, Duration: 2h 32m, Rating: 9.0
Rank: 4, Title: The Godfather Part II, Year: 1974, Duration: 3h 22m, Rating: 9.0
Rank: 5, Title: 12 Angry Men, Year: 1957, Duration: 1h 36m, Rating: 9.0
Rank: 6, Title: Schindler's List, Year: 1993, Duration: 3h 15m, Rating: 9.0
Rank: 7, Title: The Lord of the Rings: The Return of the King, Year: 2003, Duration: 3h 21m, Rating: 9.0
Rank: 8, Title: Pulp Fiction, Year: 1994, Duration: 2h 34m, Rating: 8.9
Rank: 9, Title: The Lord of the Rings: The Fellowship of the Ring, Year: 2001, Duration: 2h 58m, Rating: 8.8
Rank: 10, Title: Il buono, Year: il brutto, Duration: il cattivo, Rating: 2h 41m
Rank: 11, Title: Forrest Gump, Year: 1994, Duration: 2h 22m, Rating: 8.8
Rank: 12, Title: Fight Club, Year: 1999, Duration: 2h 19m, Rating: 8.8
Rank: 13, Title: The Lord of the Rings: The Two Towers, Year: 2002, Duration: 2h 59m, Rating: 8.8
Rank: 14, Title: Inception, Year: 2010, Duration: 2h 28m, Rating: 8.8
Rank: 15, Title: Star Wars: Episode V - The Empire Strikes Back, Year: 1980, Duration: 2h 4m, Rating: 8.7
Rank: 16, Title: The Matrix, Year: 1999, Duration: 2h 16m, Rating: 8.7
Rank: 17, Title: Goodfellas, Year: 1990, Duration: 2h 25m, Rating: 8.7
Rank: 18, Title: One Flew Over the Cuckoo's Nest, Year: 1975, Duration: 2h 13m, Rating: 8.7
Rank: 19, Title: Se7en, Year: 1995, Duration: 2h 7m, Rating: 8.6
Rank: 20, Title: Spider-Man: Across the Spider-Verse, Year: 2023, Duration: 2h 20m, Rating: 8.7
Rank: 21, Title: It's a Wonderful Life, Year: 1946, Duration: 2h 10m, Rating: 8.6
Rank: 22, Title: Shichinin no samurai, Year: 1954, Duration: 3h 27m, Rating: 8.6
Rank: 23, Title: Interstellar, Year: 2014, Duration: 2h 49m, Rating: 8.7
Rank: 24, Title: The Silence of the Lambs, Year: 1991, Duration: 1h 58m, Rating: 8.6
Rank: 25, Title: Saving Private Ryan, Year: 1998, Duration: 2h 49m, Rating: 8.6
Rank: 26, Title: Cidade de Deus, Year: 2002, Duration: 2h 10m, Rating: 8.6
Rank: 27, Title: La vita è bella, Year: 1997, Duration: 1h 56m, Rating: 8.6
Rank: 28, Title: The Green Mile, Year: 1999, Duration: 3h 9m, Rating: 8.6
Rank: 29, Title: Star Wars, Year: 1977, Duration: 2h 1m, Rating: 8.6
Rank: 30, Title: Terminator 2: Judgment Day, Year: 1991, Duration: 2h 17m, Rating: 8.6
Rank: 31, Title: Back to the Future, Year: 1985, Duration: 1h 56m, Rating: 8.5
Rank: 32, Title: Sen to Chihiro no kamikakushi, Year: 2001, Duration: 2h 5m, Rating: 8.6
Rank: 33, Title: The Pianist, Year: 2002, Duration: 2h 30m, Rating: 8.5
Rank: 34, Title: Psycho, Year: 1960, Duration: 1h 49m, Rating: 8.5
Rank: 35, Title: Gisaengchung, Year: 2019, Duration: 2h 12m, Rating: 8.5
Rank: 36, Title: Gladiator, Year: 2000, Duration: 2h 35m, Rating: 8.5
Rank: 37, Title: The Lion King, Year: 1994, Duration: 1h 28m, Rating: 8.5
Rank: 38, Title: Léon, Year: 1994, Duration: 1h 50m, Rating: 8.5
Rank: 39, Title: American History X, Year: 1998, Duration: 1h 59m, Rating: 8.5
Rank: 40, Title: The Departed, Year: 2006, Duration: 2h 31m, Rating: 8.5
Rank: 41, Title: Whiplash, Year: 2014, Duration: 1h 46m, Rating: 8.5
Rank: 42, Title: The Prestige, Year: 2006, Duration: 2h 10m, Rating: 8.5
Rank: 43, Title: The Usual Suspects, Year: 1995, Duration: 1h 46m, Rating: 8.5
Rank: 44, Title: Hotaru no haka, Year: 1988, Duration: 1h 29m, Rating: 8.5
Rank: 45, Title: Seppuku, Year: 1962, Duration: 2h 13m, Rating: 8.6
Rank: 46, Title: Oppenheimer, Year: 2023, Duration: 3h, Rating: 8.5
Rank: 47, Title: Casablanca, Year: 1942, Duration: 1h 42m, Rating: 8.5
Rank: 48, Title: Intouchables, Year: 2011, Duration: 1h 52m, Rating: 8.5
Rank: 49, Title: Modern Times, Year: 1936, Duration: 1h 27m, Rating: 8.5
Rank: 50, Title: Nuovo Cinema Paradiso, Year: 1988, Duration: 2h 35m, Rating: 8.5
Rank: 51, Title: C'era una volta il West, Year: 1968, Duration: 2h 45m, Rating: 8.5
Rank: 52, Title: Rear Window, Year: 1954, Duration: 1h 52m, Rating: 8.5
Rank: 53, Title: Alien, Year: 1979, Duration: 1h 57m, Rating: 8.5
Rank: 54, Title: City Lights, Year: 1931, Duration: 1h 27m, Rating: 8.5
Rank: 55, Title: Apocalypse Now, Year: 1979, Duration: 2h 27m, Rating: 8.4
Rank: 56, Title: Memento, Year: 2000, Duration: 1h 53m, Rating: 8.4
Rank: 57, Title: Django Unchained, Year: 2012, Duration: 2h 45m, Rating: 8.5
Rank: 58, Title: Raiders of the Lost Ark, Year: 1981, Duration: 1h 55m, Rating: 8.4
Rank: 59, Title: WALL·E, Year: 2008, Duration: 1h 38m, Rating: 8.4
Rank: 60, Title: Das Leben der Anderen, Year: 2006, Duration: 2h 17m, Rating: 8.4
Rank: 61, Title: Sunset Blvd., Year: 1950, Duration: 1h 50m, Rating: 8.4
Rank: 62, Title: Paths of Glory, Year: 1957, Duration: 1h 28m, Rating: 8.4
Rank: 63, Title: Avengers: Infinity War, Year: 2018, Duration: 2h 29m, Rating: 8.4
Rank: 64, Title: The Shining, Year: 1980, Duration: 2h 26m, Rating: 8.4
Rank: 65, Title: The Great Dictator, Year: 1940, Duration: 2h 5m, Rating: 8.4
Rank: 66, Title: Witness for the Prosecution, Year: 1957, Duration: 1h 56m, Rating: 8.4
Rank: 67, Title: Spider-Man: Into the Spider-Verse, Year: 2018, Duration: 1h 57m, Rating: 8.4
Rank: 68, Title: Alien 2, Year: 1986, Duration: 2h 17m, Rating: 8.4
Rank: 69, Title: Inglourious Basterds, Year: 2009, Duration: 2h 33m, Rating: 8.4
Rank: 70, Title: The Dark Knight Rises, Year: 2012, Duration: 2h 44m, Rating: 8.4
Rank: 71, Title: American Beauty, Year: 1999, Duration: 2h 2m, Rating: 8.3
Rank: 72, Title: Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb, Year: 1964, Duration: 1h 35m, Rating: 8.4
Rank: 73, Title: Oldeuboi, Year: 2003, Duration: 2h, Rating: 8.4
Rank: 74, Title: Coco, Year: 2017, Duration: 1h 45m, Rating: 8.4
Rank: 75, Title: Amadeus, Year: 1984, Duration: 2h 40m, Rating: 8.4
Rank: 76, Title: Toy Story, Year: 1995, Duration: 1h 21m, Rating: 8.3
Rank: 77, Title: Das Boot, Year: 1981, Duration: 2h 29m, Rating:  (
Rank: 78, Title: Braveheart, Year: 1995, Duration: 2h 58m, Rating: 8.3
Rank: 79, Title: Avengers: Endgame, Year: 2019, Duration: 3h 1m, Rating: 8.4
Rank: 80, Title: Joker, Year: 2019, Duration: 2h 2m, Rating: 8.4
Rank: 81, Title: Mononoke-hime, Year: 1997, Duration: 2h 14m, Rating: 8.3
Rank: 82, Title: Good Will Hunting, Year: 1997, Duration: 2h 6m, Rating: 8.3
Rank: 83, Title: Once Upon a Time in America, Year: 1984, Duration: 3h 49m, Rating: 8.3
Rank: 84, Title: Kimi no na wa., Year: 2016, Duration: 1h 46m, Rating: 8.4
Rank: 85, Title: 3 Idiots, Year: 2009, Duration: 2h 50m, Rating: 8.4
Rank: 86, Title: Tengoku to jigoku, Year: 1963, Duration: 2h 23m, Rating: 8.4
Rank: 87, Title: Singin' in the Rain, Year: 1952, Duration: 1h 43m, Rating: 8.3
Rank: 88, Title: Capharnaüm, Year: 2018, Duration: 2h 6m, Rating: 8.4
Rank: 89, Title: Requiem for a Dream, Year: 2000, Duration: 1h 42m, Rating: 8.3
Rank: 90, Title: Toy Story 3, Year: 2010, Duration: 1h 43m, Rating: 8.3
Rank: 91, Title: Idi i smotri, Year: 1985, Duration: 2h 22m, Rating: 8.4
Rank: 92, Title: Star Wars: Episode VI - Return of the Jedi, Year: 1983, Duration: 2h 11m, Rating: 8.3
Rank: 93, Title: Eternal Sunshine of the Spotless Mind, Year: 2004, Duration: 1h 48m, Rating: 8.3
Rank: 94, Title: 2001: A Space Odyssey, Year: 1968, Duration: 2h 29m, Rating: 8.3
Rank: 95, Title: Jagten, Year: 2012, Duration: 1h 55m, Rating: 8.3
Rank: 96, Title: Reservoir Dogs, Year: 1992, Duration: 1h 39m, Rating: 8.3
Rank: 97, Title: Ikiru, Year: 1952, Duration: 2h 23m, Rating: 8.3
Rank: 98, Title: Lawrence of Arabia, Year: 1962, Duration: 3h 38m, Rating: 8.3
Rank: 99, Title: Citizen Kane, Year: 1941, Duration: 1h 59m, Rating: 8.3
Rank: 100, Title: M - Eine Stadt sucht einen Mörder, Year: 1931, Duration: 1h 57m, Rating: 8.3
Rank: 101, Title: The Apartment, Year: 1960, Duration: 2h 5m, Rating: 8.3
Rank: 102, Title: North by Northwest, Year: 1959, Duration: 2h 16m, Rating: 8.3
Rank: 103, Title: Vertigo, Year: 1958, Duration: 2h 8m, Rating: 8.3
Rank: 104, Title: Double Indemnity, Year: 1944, Duration: 1h 47m, Rating: 8.3
Rank: 105, Title: Le fabuleux destin d'Amélie Poulain, Year: 2001, Duration: 2h 2m, Rating: 8.3
Rank: 106, Title: Scarface, Year: 1983, Duration: 2h 50m, Rating: 8.3
Rank: 107, Title: Full Metal Jacket, Year: 1987, Duration: 1h 56m, Rating: 8.3
Rank: 108, Title: A Clockwork Orange, Year: 1971, Duration: 2h 16m, Rating: 8.3
Rank: 109, Title: Incendies, Year: 2010, Duration: 2h 11m, Rating: 8.3
Rank: 110, Title: Heat, Year: 1995, Duration: 2h 50m, Rating: 8.3
Rank: 111, Title: Up, Year: 2009, Duration: 1h 36m, Rating: 8.3
Rank: 112, Title: Hamilton, Year: 2020, Duration: 2h 40m, Rating: 8.3
Rank: 113, Title: To Kill a Mockingbird, Year: 1962, Duration: 2h 9m, Rating: 8.3
Rank: 114, Title: The Sting, Year: 1973, Duration: 2h 9m, Rating: 8.3
Rank: 115, Title: Jodaeiye Nader az Simin, Year: 2011, Duration: 2h 3m, Rating: 8.3
Rank: 116, Title: Indiana Jones and the Last Crusade, Year: 1989, Duration: 2h 7m, Rating: 8.2
Rank: 117, Title: Metropolis, Year: 1927, Duration: 2h 33m, Rating: 8.3
Rank: 118, Title: Die Hard, Year: 1988, Duration: 2h 12m, Rating: 8.2
Rank: 119, Title: Taare Zameen Par, Year: 2007, Duration: 2h 45m, Rating: 8.3
Rank: 120, Title: Snatch, Year: 2000, Duration: 1h 44m, Rating: 8.2
Rank: 121, Title: Ladri di biciclette, Year: 1948, Duration: 1h 29m, Rating: 8.3
Rank: 122, Title: L.A. Confidential, Year: 1997, Duration: 2h 18m, Rating: 8.2

Rank: 123, Title: Taxi Driver, Year: 1976, Duration: 1h 54m, Rating: 8.2
Rank: 124, Title: 1917, Year: 2019, Duration: 1h 59m, Rating: 8.2
Rank: 125, Title: Der Untergang, Year: 2004, Duration: 2h 36m, Rating: 8.2
Rank: 126, Title: Dangal, Year: 2016, Duration: 2h 41m, Rating: 8.3
Rank: 127, Title: Per qualche dollaro in più, Year: 1965, Duration: 2h 12m, Rating: 8.2
Rank: 128, Title: Batman Begins, Year: 2005, Duration: 2h 20m, Rating: 8.2
Rank: 129, Title: Top Gun: Maverick, Year: 2022, Duration: 2h 10m, Rating: 8.3
Rank: 130, Title: Some Like It Hot, Year: 1959, Duration: 2h 1m, Rating: 8.2
Rank: 131, Title: The Kid, Year: 1921, Duration: 1h 8m, Rating: 8.2
Rank: 132, Title: The Wolf of Wall Street, Year: 2013, Duration: 3h, Rating: 8.2
Rank: 133, Title: The Father, Year: 2020, Duration: 1h 37m, Rating: 8.2
Rank: 134, Title: Green Book, Year: 2018, Duration: 2h 10m, Rating: 8.2
Rank: 135, Title: All About Eve, Year: 1950, Duration: 2h 18m, Rating: 8.2
Rank: 136, Title: Judgment at Nuremberg, Year: 1961, Duration: 2h 59m, Rating: 8.3
Rank: 137, Title: The Truman Show, Year: 1998, Duration: 1h 43m, Rating: 8.2
Rank: 138, Title: There Will Be Blood, Year: 2007, Duration: 2h 38m, Rating: 8.2
Rank: 139, Title: Casino, Year: 1995, Duration: 2h 58m, Rating: 8.2
Rank: 140, Title: Ran, Year: 1985, Duration: 2h 40m, Rating: 8.2
Rank: 141, Title: Shutter Island, Year: 2010, Duration: 2h 18m, Rating: 8.2
Rank: 142, Title: El laberinto del fauno, Year: 2006, Duration: 1h 58m, Rating: 8.2
Rank: 143, Title: The Sixth Sense, Year: 1999, Duration: 1h 47m, Rating: 8.2
Rank: 144, Title: Unforgiven, Year: 1992, Duration: 2h 10m, Rating: 8.2
Rank: 145, Title: Jurassic Park, Year: 1993, Duration: 2h 7m, Rating: 8.2
Rank: 146, Title: A Beautiful Mind, Year: 2001, Duration: 2h 15m, Rating: 8.2
Rank: 147, Title: The Treasure of the Sierra Madre, Year: 1948, Duration: 2h 6m, Rating: 8.2
Rank: 148, Title: Yôjinbô, Year: 1961, Duration: 1h 50m, Rating: 8.2
Rank: 149, Title: No Country for Old Men, Year: 2007, Duration: 2h 2m, Rating: 8.2
Rank: 150, Title: Kill Bill: Vol. 1, Year: 2003, Duration: 1h 51m, Rating: 8.2
Rank: 151, Title: Monty Python and the Holy Grail, Year: 1975, Duration: 1h 31m, Rating: 8.2
Rank: 152, Title: The Thing, Year: 1982, Duration: 1h 49m, Rating: 8.2
Rank: 153, Title: The Great Escape, Year: 1963, Duration: 2h 52m, Rating: 8.2
Rank: 154, Title: Rashômon, Year: 1950, Duration: 1h 28m, Rating: 8.2
Rank: 155, Title: Finding Nemo, Year: 2003, Duration: 1h 40m, Rating: 8.2
Rank: 156, Title: The Elephant Man, Year: 1980, Duration: 2h 4m, Rating: 8.2
Rank: 157, Title: Chinatown, Year: 1974, Duration: 2h 10m, Rating: 8.2
Rank: 158, Title: Hauru no ugoku shiro, Year: 2004, Duration: 1h 59m, Rating: 8.2
Rank: 159, Title: Dial M for Murder, Year: 1954, Duration: 1h 45m, Rating: 8.2
Rank: 160, Title: Gone with the Wind, Year: 1939, Duration: 3h 58m, Rating: 8.2
Rank: 161, Title: V for Vendetta, Year: 2005, Duration: 2h 12m, Rating: 8.2
Rank: 162, Title: Raging Bull, Year: 1980, Duration: 2h 9m, Rating: 8.1
Rank: 163, Title: Spider-Man: No Way Home, Year: 2021, Duration: 2h 28m, Rating: 8.2
Rank: 164, Title: Lock, Year: Stock and Two Smoking Barrels, Duration: 1998, Rating: R
Rank: 165, Title: El secreto de sus ojos, Year: 2009, Duration: 2h 9m, Rating: 8.2
Rank: 166, Title: Prisoners, Year: 2013, Duration: 2h 33m, Rating: 8.1
Rank: 167, Title: Inside Out, Year: 2015, Duration: 1h 35m, Rating: 8.1
Rank: 168, Title: Three Billboards Outside Ebbing, Year: Missouri, Duration: 2017, Rating: R
Rank: 169, Title: The Bridge on the River Kwai, Year: 1957, Duration: 2h 41m, Rating: 8.1
Rank: 170, Title: Trainspotting, Year: 1996, Duration: 1h 33m, Rating: 8.1
Rank: 171, Title: Fargo, Year: 1996, Duration: 1h 38m, Rating: 8.1
Rank: 172, Title: Warrior, Year: 2011, Duration: 2h 20m, Rating: 8.1
Rank: 173, Title: Gran Torino, Year: 2008, Duration: 1h 56m, Rating: 8.1
Rank: 174, Title: Catch Me If You Can, Year: 2002, Duration: 2h 21m, Rating: 8.1
Rank: 175, Title: Tonari no Totoro, Year: 1988, Duration: 1h 26m, Rating: 8.1
Rank: 176, Title: Million Dollar Baby, Year: 2004, Duration: 2h 12m, Rating: 8.1
Rank: 177, Title: Klaus, Year: 2019, Duration: 1h 36m, Rating: 8.2
Rank: 178, Title: Harry Potter and the Deathly Hallows - Part 2, Year: 2011, Duration: 2h 10m, Rating: 8.1
Rank: 179, Title: Bacheha-Ye aseman, Year: 1997, Duration: 1h 29m, Rating: 8.2
Rank: 180, Title: Blade Runner, Year: 1982, Duration: 1h 57m, Rating: 8.1
Rank: 181, Title: 12 Years a Slave, Year: 2013, Duration: 2h 14m, Rating: 8.1
Rank: 182, Title: Before Sunrise, Year: 1995, Duration: 1h 41m, Rating: 8.1
Rank: 183, Title: The Grand Budapest Hotel, Year: 2014, Duration: 1h 39m, Rating: 8.1
Rank: 184, Title: The Gold Rush, Year: 1925, Duration: 1h 35m, Rating: 8.1
Rank: 185, Title: Ben-Hur, Year: 1959, Duration: 3h 32m, Rating: 8.1
Rank: 186, Title: Gone Girl, Year: 2014, Duration: 2h 29m, Rating: 8.1
Rank: 187, Title: Barry Lyndon, Year: 1975, Duration: 3h 5m, Rating: 8.1
Rank: 188, Title: On the Waterfront, Year: 1954, Duration: 1h 48m, Rating: 8.1
Rank: 189, Title: Hacksaw Ridge, Year: 2016, Duration: 2h 19m, Rating: 8.1
Rank: 190, Title: In the Name of the Father, Year: 1993, Duration: 2h 13m, Rating: 8.1
Rank: 191, Title: Salinui chueok, Year: 2003, Duration: 2h 11m, Rating: 8.1
Rank: 192, Title: The General, Year: 1926, Duration: 1h 18m, Rating: 8.1
Rank: 193, Title: The Deer Hunter, Year: 1978, Duration: 3h 3m, Rating: 8.1
Rank: 194, Title: Smultronstället, Year: 1957, Duration: 1h 31m, Rating: 8.1
Rank: 195, Title: Le salaire de la peur, Year: 1953, Duration: 2h 11m, Rating: 8.2
Rank: 196, Title: The Third Man, Year: 1949, Duration: 1h 44m, Rating: 8.1
Rank: 197, Title: Relatos salvajes, Year: 2014, Duration: 2h 2m, Rating: 8.1
Rank: 198, Title: Sherlock Jr., Year: 1924, Duration: 45m, Rating: 8.2
Rank: 199, Title: Dead Poets Society, Year: 1989, Duration: 2h 8m, Rating: 8.1
Rank: 200, Title: Mad Max: Fury Road, Year: 2015, Duration: 2h, Rating: 8.1
Rank: 201, Title: Mr. Smith Goes to Washington, Year: 1939, Duration: 2h 9m, Rating: 8.1
Rank: 202, Title: Monsters, Year: Inc., Duration: 2001, Rating: G
Rank: 203, Title: How to Train Your Dragon, Year: 2010, Duration: 1h 38m, Rating: 8.1
Rank: 204, Title: Jaws, Year: 1975, Duration: 2h 4m, Rating: 8.1
Rank: 205, Title: Mary and Max., Year: 2009, Duration: 1h 32m, Rating: 8.1
Rank: 206, Title: Det sjunde inseglet, Year: 1957, Duration: 1h 36m, Rating: 8.1
Rank: 207, Title: Room, Year: 2015, Duration: 1h 58m, Rating: 8.1
Rank: 208, Title: Ford v Ferrari, Year: 2019, Duration: 2h 32m, Rating: 8.1
Rank: 209, Title: The Big Lebowski, Year: 1998, Duration: 1h 57m, Rating: 8.1
Rank: 210, Title: Tôkyô monogatari, Year: 1953, Duration: 2h 16m, Rating: 8.1
Rank: 211, Title: Ratatouille, Year: 2007, Duration: 1h 51m, Rating: 8.1
Rank: 212, Title: Rocky, Year: 1976, Duration: 2h, Rating: 8.1
Rank: 213, Title: Hotel Rwanda, Year: 2004, Duration: 2h 1m, Rating: 8.1
Rank: 214, Title: La passion de Jeanne d'Arc, Year: 1928, Duration: 1h 50m, Rating: 8.1
Rank: 215, Title: Logan, Year: 2017, Duration: 2h 17m, Rating: 8.1
Rank: 216, Title: Spotlight, Year: 2015, Duration: 2h 9m, Rating: 8.1
Rank: 217, Title: Platoon, Year: 1986, Duration: 2h, Rating: 8.1
Rank: 218, Title: The Terminator, Year: 1984, Duration: 1h 47m, Rating: 8.1
Rank: 219, Title: Jai Bhim, Year: 2021, Duration: 2h 44m, Rating: 8.8
Rank: 220, Title: Before Sunset, Year: 2004, Duration: 1h 20m, Rating: 8.1
Rank: 221, Title: Rush, Year: 2013, Duration: 2h 3m, Rating: 8.1
Rank: 222, Title: Network, Year: 1976, Duration: 2h 1m, Rating: 8.1
Rank: 223, Title: Stand by Me, Year: 1986, Duration: 1h 29m, Rating: 8.1
Rank: 224, Title: The Best Years of Our Lives, Year: 1946, Duration: 2h 50m, Rating: 8.1
Rank: 225, Title: The Exorcist, Year: 1973, Duration: 2h 2m, Rating: 8.1
Rank: 226, Title: La haine, Year: 1995, Duration: 1h 38m, Rating: 8.1
Rank: 227, Title: The Wizard of Oz, Year: 1939, Duration: 1h 42m, Rating: 8.1
Rank: 228, Title: Into the Wild, Year: 2007, Duration: 2h 28m, Rating: 8.1
Rank: 229, Title: Pirates of the Caribbean: The Curse of the Black Pearl, Year: 2003, Duration: 2h 23m, Rating: 8.1
Rank: 230, Title: The Incredibles, Year: 2004, Duration: 1h 55m, Rating: 8.0
Rank: 231, Title: To Be or Not to Be, Year: 1942, Duration: 1h 39m, Rating: 8.2
Rank: 232, Title: Hachi: A Dog's Tale, Year: 2009, Duration: 1h 33m, Rating: 8.1

Rank: 233, Title: Ah-ga-ssi, Year: 2016, Duration: 2h 25m, Rating: 8.1
Rank: 234, Title: Groundhog Day, Year: 1993, Duration: 1h 41m, Rating: 8.0
Rank: 235, Title: La battaglia di Algeri, Year: 1966, Duration: 2h 1m, Rating: 8.1
Rank: 236, Title: Babam ve Oglum, Year: 2005, Duration: 1h 52m, Rating: 8.2
Rank: 237, Title: The Grapes of Wrath, Year: 1940, Duration: 2h 9m, Rating: 8.1
Rank: 238, Title: Amores perros, Year: 2000, Duration: 2h 34m, Rating: 8.1
Rank: 239, Title: Rebecca, Year: 1940, Duration: 2h 10m, Rating: 8.1
Rank: 240, Title: The Sound of Music, Year: 1965, Duration: 2h 52m, Rating: 8.1
Rank: 241, Title: Cool Hand Luke, Year: 1967, Duration: 2h 7m, Rating: 8.1
Rank: 242, Title: Pather Panchali, Year: 1955, Duration: 2h 5m, Rating: 8.2
Rank: 243, Title: It Happened One Night, Year: 1934, Duration: 1h 45m, Rating: 8.1
Rank: 244, Title: The Iron Giant, Year: 1999, Duration: 1h 26m, Rating: 8.1
Rank: 245, Title: The Help, Year: 2011, Duration: 2h 26m, Rating: 8.1
Rank: 246, Title: Les quatre cents coups, Year: 1959, Duration: 1h 39m, Rating: 8.1
Rank: 247, Title: Persona, Year: 1966, Duration: 1h 25m, Rating: 8.1
Rank: 248, Title: Life of Brian, Year: 1979, Duration: 1h 34m, Rating: 8.0
Rank: 249, Title: Aladdin, Year: 1992, Duration: 1h 30m, Rating: 8.0
Rank: 250, Title: Dances with Wolves, Year: 1990, Duration: 3h 1m, Rating: 8.0
[Errno 13] Permission denied: 'IMDB Movie Ratings.xlsx'

### 3. Importing the dataset

In [3]:
# importing the data
df = pd.read_excel('IMDB Movie Ratings.xlsx')
# show the first 20 rows
df.head(20)

,Rank,Title,Year,Duration,Rating
0,1,The Shawshank Redemption,1994,2h 22m,9.3
1,2,The Godfather,1972,2h 55m,9.2
2,3,The Dark Knight,2008,2h 32m,9.0
3,4,The Godfather Part II,1974,3h 22m,9.0
4,5,12 Angry Men,1957,1h 36m,9.0
5,6,Schindler's List,1993,3h 15m,9.0
6,7,The Lord of the Rings: The Return of the King,2003,3h 21m,9.0
7,8,Pulp Fiction,1994,2h 34m,8.9
8,9,The Lord of the Rings: The Fellowship of the Ring,2001,2h 58m,8.8
9,10,Il buono,il brutto,il cattivo,2h 41m
10,11,Forrest Gump,1994,2h 22m,8.8
11,12,Fight Club,1999,2h 19m,8.8
12,13,The Lord of the Rings: The Two Towers,2002,2h 59m,8.8
13,14,Inception,2010,2h 28m,8.8
14,15,Star Wars: Episode V - The Empire Strikes Back,1980,2h 4m,8.7
15,16,The Matrix,1999,2h 16m,8.7
16,17,Goodfellas,1990,2h 25m,8.7
17,18,One Flew Over the Cuckoo's Nest,1975,2h 13m,8.7
18,19,Se7en,1995,2h 7m,8.6
19,20,Spider-Man: Across the Spider-Verse,2023,2h 20m,8.7

### 4. Data Inspection

In [4]:
# Display info about the data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Rank      250 non-null    int64
 1   Title     250 non-null    object
 2   Year      250 non-null    object
 3   Duration  250 non-null    object
 4   Rating    250 non-null    object
dtypes: int64(1), object(4)
memory usage: 9.9+ KB

In [5]:
# check the dimension
df.shape

(250, 5)

In [6]:
# descriptive statistics
df.describe()

             Rank
count  250.000000
mean   125.500000
std     72.312977
min      1.000000
25%     63.250000
50%    125.500000
75%    187.750000
max    250.000000

In [7]:
# List the columns
df.columns

Index(['Rank', 'Title', 'Year', 'Duration', 'Rating'], dtype='object')

#### Notes about the data:

* This data contains records of the top 250 movies on the IMDb website

* It has 5 columns and 250 rows

* It has 1 column of type (int64) and 4 columns of type (object)

* There are no missing values in the data

### 5. Data Cleaning

In [9]:
# Check data types
df.dtypes

Rank         int64
Title       object
Year        object
Duration    object
Rating      object
dtype: object

* We will need to change the data type for 'Rating' from object to float

In [10]:
# check the 'Rating' columns
df['Rating'].unique()

array(['9.3', '9.2', '9.0', '8.9', '8.8', '2h 41m', '8.7', '8.6', '8.5',
       '8.4', '8.3', '\xa0(', '8.2', '8.1', 'R', 'G', '8.0'], dtype=object)

* There are some inconsistencies in the 'Rating' values that need cleaning

In [11]:
# Drop rows where 'Rating' has the unwanted values due to lack of 
# access to the original data as at the time of project task
# Define unwanted values
unwanted_values = ['2h 41m', '\xa0(', 'R', 'G']
# Drop rows where column 'Rating' has unwanted values
df = df[~df['Rating'].isin(unwanted_values)]
# check
df['Rating'].unique()

array(['9.3', '9.2', '9.0', '8.9', '8.8', '8.7', '8.6', '8.5', '8.4',
       '8.3', '8.2', '8.1', '8.0'], dtype=object)

In [12]:
# Check data dimension again
df.shape

(245, 5)

In [13]:
# Change 'Rating' data type to float
df['Rating'] = df['Rating'].astype(float)
# check
df['Rating'].dtypes

C:\Users\user\AppData\Local\Temp\ipykernel_8204\2983324522.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Rating'] = df['Rating'].astype(float)

dtype('float64')

### 6. Perform Explorative Data Analysis

In [14]:
# total number of released years
df['Year'].nunique()

87

In [15]:
# miminum released year
df['Year'].min()

'1921'

In [16]:
# maximum released year
df['Year'].max()

'2023'

In [17]:
# return the number of movies released per each year
movies_per_released_year = pd.DataFrame(df.groupby(['Year'])['Title'].count())
# Reset index
movies_per_released_year.reset_index(inplace=True)
# Show the first 10 rows
movies_per_released_year.head(10)

   Year  Title
0  1921      1
1  1924      1
2  1925      1
3  1926      1
4  1927      1
5  1928      1
6  1931      2
7  1934      1
8  1936      1
9  1939      3

In [18]:
# What is the maximum number of movies released?
movies_per_released_year['Title'].max()

8

In [19]:
# Distinct number of movies released
movies_per_released_year['Title'].unique()

array([1, 2, 3, 4, 6, 5, 8, 7], dtype=int64)

In [20]:
# In what year was the maximum number of movies released
movies_per_released_year[movies_per_released_year['Title']==8]

    Year  Title
58  1995      8

In [21]:
# Filtering top 250 movies by year
df_1995 = df[df['Year']=='1995']
df_1995

     Rank               Title  Year Duration  Rating
18     19               Se7en  1995    2h 7m     8.6
42     43  The Usual Suspects  1995   1h 46m     8.5
75     76           Toy Story  1995   1h 21m     8.3
77     78          Braveheart  1995   2h 58m     8.3
109   110                Heat  1995   2h 50m     8.3
138   139              Casino  1995   2h 58m     8.2
181   182      Before Sunrise  1995   1h 41m     8.1
225   226            La haine  1995   1h 38m     8.1

In [23]:
# Get the minimum and maximum Rating values
print('Min Rating: ', df['Rating'].min())
print('Max Rating: ', df['Rating'].max())

Min Rating:  8.0
Max Rating:  9.3

In [24]:
df.shape

(245, 5)

In [25]:
# Top 250 movies with the lowest rating, their ranks, durations and the year of release
df[df['Rating']==8.0]

     Rank               Title  Year Duration  Rating
229   230     The Incredibles  2004   1h 55m     8.0
233   234       Groundhog Day  1993   1h 41m     8.0
247   248       Life of Brian  1979   1h 34m     8.0
248   249             Aladdin  1992   1h 30m     8.0
249   250  Dances with Wolves  1990    3h 1m     8.0

In [26]:
 # Top 250 movies with the highest rating, their ranks, durations and the year of release
df[df['Rating']==9.3]

   Rank                     Title  Year Duration  Rating
0     1  The Shawshank Redemption  1994   2h 22m     9.3

In [27]:
# Sort the movies by their rank 
df.sort_values(by='Rank')

     Rank                     Title  Year Duration  Rating
0       1  The Shawshank Redemption  1994   2h 22m     9.3
1       2             The Godfather  1972   2h 55m     9.2
2       3           The Dark Knight  2008   2h 32m     9.0
3       4     The Godfather Part II  1974   3h 22m     9.0
4       5              12 Angry Men  1957   1h 36m     9.0
..    ...                       ...   ...      ...     ...
245   246    Les quatre cents coups  1959   1h 39m     8.1
246   247                   Persona  1966   1h 25m     8.1
247   248             Life of Brian  1979   1h 34m     8.0
248   249                   Aladdin  1992   1h 30m     8.0
249   250        Dances with Wolves  1990    3h 1m     8.0

[245 rows x 5 columns]

### 6. Summary

1. There are 87 years altogether, from 1921 to 2023

2. From the top 250 movies data, the highest number of movies released is 8, in the year 1995

3. Ratings ranged from 8.0 to 9.3

4. 5 movies were rated 8.0, while 1 movie was rated 9.3 (The Shawshank Redemption 1994)

5. By ranking, 'The Shawshank Redemption' is ranked first, while 'Dances with Wolves' is ranked 250th